@model Cap.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation @Html.DisplayFor(model => model.OrderDateTime)</h4>
    <hr />
  
    @Html.Action("Index", "LineItems" , new { id = Model.Id })
    
        

    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
